
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- About Section-->
<section class="page-section" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">HAKKIMIZDA</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">sevdiklerini mutlu etmek için mutfağa girenlerin, tek başına olsa bile yaptığı yemeğin lezzetli olduğunu görünce kendiyle gurur duyanların, mutfağı daha fazla keşfetmesini sağlayan bir bilgiyi dört bir yana paylaşmak isteyenlerin, yeri geldiğinde kendine daha fazla vakit ayırmak için pratik tarif peşinde koşanların, herkesin bütçesine göre bir tarif olduğunu bilenlerin, yemek yaparken günlük hayatın zorluklarını bir çırpıda unutanların ve bunların hepsinden mutlak keyif alanların sitesi.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead"> "Ben bunu yaparım" dediğiniz tarifleri, tarif defterinize ekleyebilir, dilediğinizde onlara tek dokunuşla ulaşabilir, dahası şahane tariflerinizi bizimle paylaşıp adınızla Burak's Food'da yayınlanmasını sağlayabilir, en güzeli de mutfağınıza giren bir tarifimiz olursa bizlere haber verebilirsiniz.</p></div>
        </div>
    </div>
</section>

